body { font-family: sans-serif; }
#listaTareas { list-style: none; padding: 0; }
#listaTareas li { padding: 10px; border-bottom: 1px solid #ccc; display: flex; justify-content: space-between; align-items: center; }
.tarea-texto { flex-grow: 1; margin-right: 10px; }
.completada { text-decoration: line-through; color: #ff0303; }
button { margin-left: 5px; cursor: pointer; }
