body {
  padding: 80px 0;
  font-family: "Space Grotesk", sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo {
  width: 230px;
  height: 56px;
}

.link {
  font-size: 20px;
}

.link__button {
  border: 1px solid black;
  padding: 20px 35px;
  border-radius: 14px;
}

.sectionfirst {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.sectionFirst__img {
  width: 600.46px;
  height: 515px;
}

.sectionfirst__article {
  width: 531px;
  height: 481px;
  justify-content: space-between;
}

.sectionfirst__h1 {
  font-size: 60px;
  font-weight: 400;
}

.sectionfirst__p {
  font-size: 20px;
  line-height: 28px;
}

.sectionfirst__button {
  font-size: 20px;
  padding: 20px 35px;
  background-color: #191a23;
  border-radius: 14px;
  color: #ffff;
}

.sectionfirst__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.logotipos {
  display: flex;
  justify-content: space-between;
  filter: grayscale(100%);
}

.services {
  display: flex;
  margin-top: 140px;
  margin-bottom: 80px;
  gap: 40px;
  align-content: flex-start;
}

.services__h2 {
  display: flex;
  justify-content: center;
  background-color: #b9ff66;
  border-radius: 5px;
  font-weight: 500;
  width: 110px;
}

.sectionSecond__card {
  width: 500px;
  height: 210px;
  background-color: #f3f3f3;
  border-radius: 45px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 5px #191a23;
}

.sectionSecond__h3 {
  font-size: 30px;
  background-color: #b9ff66;
  font-weight: 500;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 221px;
}

.sectionSecond__h3 optimizacion {
  width: 150px;
}

.sectionSecond__img {
  width: 210px;
  height: 166.05px;
}

.sectionSecond__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 221px;
  height: 210px;
}

.sectionSecond__a {
  display: flex;
  align-items: center;
  gap: 15px;
}

.sectionSecond__line1 {
  display: flex;
  gap: 40px;
}

.container__cards {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 40px;
}

.article__2 {
  width: 500px;
  height: 210px;
  background-color: #b9ff66;
  border-radius: 45px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 5px #191a23;
}

.sectionthree__h3 {
  font-size: 30px;
  background-color: #f3f3f3;
  font-weight: 500;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 221px;
}
.article__3 {
  width: 500px;
  height: 210px;
  background-color: #191a23;
  border-radius: 45px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 5px #191a23;
}

.Learn__white {
  color: #f3f3f3;
}

.article__4 {
  width: 500px;
  height: 210px;
  background-color: #f3f3f3;
  border-radius: 45px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 5px #191a23;
}

.sectionfour__h3 {
  font-size: 30px;
  background-color: #b9ff66;
  font-weight: 500;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 221px;
}

.article__5 {
  width: 500px;
  height: 210px;
  background-color: #b9ff66;
  border-radius: 45px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 5px #191a23;
}

.sectionfive__h3 {
  font-size: 30px;
  background-color: #f3f3f3;
  font-weight: 500;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 221px;
}

.article__6 {
  width: 500px;
  height: 210px;
  background-color: #191a23;
  border-radius: 45px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 5px #191a23;
}
.sectionsix__h3 {
  font-size: 30px;
  background-color: #b9ff66;
  font-weight: 500;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 221px;
}

.Learn__white {
  color: #f3f3f3;
}
